.small-card {
    position: relative;
    background-color: var(--black-v2);
    width: 295px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    min-height: 211px;

    &.time-card {

        .week {
            font-size: 20px;
            font-weight: 400;
            line-height: 27.24px;

            .day {
                font-size: 24px;
                font-weight: 800;
                line-height: 32.68px;
            }
        }

        .time-wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 16px 64px;
            background: #393E46;
            box-shadow: 0px 4px 4px 0px #00000040 inset;
            border-radius: 10px;

            .time {
                font-size: 20px;
                font-weight: 700;
                line-height: 27.24px;
            }
        }
    }

    &.progress-card {
        .name {
            font-size: 20px;
            font-weight: 400;
            line-height: 27.24px;
        }

        .progress-wrapper {
            width: 48px;
            height: 48px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

        }
    }
}

.card {
    position: relative;
    background-color: var(--black-v2);
    width: 295px;
    padding: 16px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    min-height: 211px;
    overflow: auto;

    .title {
        font-size: 16px;
        font-weight: 300;
        line-height: 21.79px;
        margin-bottom: 16px;
    }

    .divider{
        height: 1px;
        background-color: var(--white);
        margin-bottom: 32px;
    }
}

.create-card {
    position: relative;
    background-color: var(--black-v2);
    width: 500px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    overflow: auto;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

    .title {
        font-size: 14px;
        font-weight: 300;
        line-height: 21.79px;
        margin-bottom: 16px;
    }

    .plus{
        font-size: 50px;
        margin-bottom: 4px;
    }
}