.home{
    .first-row{
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
    }

    .second-row{
        flex-wrap: wrap;
        display: flex;
        gap: 20px;
        margin-top: 52px;
    }

    .card-tasks{
        width: 610px;
    }

    .card-home{
        height: 675px;
    }
}