.tasks-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--black-v2);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.tasks-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tasks-button:hover {
    background-color: #0056b3;
}

.tasks-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 4px;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-submit-button {
    background-color: #4ECCA3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit-button:hover {
    background-color: #218838;
}
.add-button {
    background-color: #4ECCA3; /* Zielony */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #dc3545; /* Czerwony */ 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-button:hover {
    background-color: #c82333;
}

