.tasks-wrapper {
    .tasks-container {
        padding: 20px 0;
        font-family: Arial, sans-serif;
        background-color: var(--black-v2);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .divider {
            height: 1px;
            width: 100%;
            background-color: var(--white);
            margin-bottom: 20px;
        }

        .buttons-wrapper {
            display: flex;
            margin: 0 20px;
            margin-bottom: 24px;
            gap: 16px;
            flex-wrap: wrap;
        }
    }

    .tasks-title {
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 300;
        padding: 0 20px;
    }

    .tasks-button {
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border: none;
    }

    .join-button {
        background-color: #4ECCA3;
        color: white;
        min-width: 110px;
    }
}