.tasks-row {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
}

.tasks {
    &-column {
        width: 610px;

        .tasks-container {
            display: flex;
            flex-direction: column;
            gap: 32px;
        }
    }

    .tasks-category {
        width: 100%;
        flex-shrink: 1/4;

        .name {
            font-size: 14px;
            font-weight: 300;
            line-height: 19.07px;
            margin-bottom: 4px;
        }

        .task-wrapper {
            box-shadow: 0px 4px 4px 0px #00000040 inset;
            max-width: 491px;
            border-radius: 5px;
            padding: 12px;
            background-color: var(--black-v2);
            font-size: 16px;
            font-weight: 300;
            line-height: 21.79px;
            color: var(--white);
        }
    }

    .task-box {
        box-shadow: 0px 4px 4px 0px #00000040 inset;
        border-radius: 5px;
        padding: 12px;
        background-color: var(--black-v2);
        font-size: 16px;
        font-weight: 300;
        line-height: 21.79px;
        margin-bottom: 12px;
        position: relative;

        &.priority-low {
            border-left: 5px solid #4ecca3;
        }

        &.priority-medium {
            border-left: 5px solid #f0ad4e;
        }

        &.priority-high {
            border-left: 5px solid #d9534f;
        }

        &.priority-critical {
            border-left: 5px solid #d9534f;
            background-color: #af2a2a;
        }

        .critical-icon {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 16px;
            color: #d9534f;
        }

        .task-editor {
            display: flex;

            .ed {
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                outline: none;
                cursor: pointer;

                span {
                    font-size: 16px;
                }

                .pencil {
                    color: var(--side);
                }

                .trash {
                    color: #ff6961;
                }
            }
        }

        .title {
            font-size: 14px;
            line-height: 19.07px;
            margin: 12px 0;
            max-width: 100%;
            color: var(--white);
        }

        .description {
            font-size: 14px;
            line-height: 19.07px;
            margin-bottom: 4px;
            font-weight: 300;
            color: var(--white);
        }
    }
}

.add-tasks {
    display: flex;
    flex-direction: column;
    gap: 16px;

    label {
        font-size: 14px;
        font-weight: 600;
        color: var(--white);
        margin-bottom: 4px;
    }

    select {
        width: 100%;
        padding: 12px 16px;
        font-size: 16px;
        color: var(--white);
        background-color: var(--black-v2);
        border: 1px solid var(--white);
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        appearance: none;
        cursor: pointer;

        &:focus {
            border-color: var(--side);
            box-shadow: 0px 0px 4px var(--side);
        }

        &::placeholder {
            color: var(--white);
        }
    }

    input,
    textarea {
        resize: none;
        width: 100%;
        padding: 12px 16px;
        font-size: 16px;
        color: var(--white);
        background-color: var(--black-v2);
        border: 1px solid var(--white);
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            border-color: var(--side);
            box-shadow: 0px 0px 4px var(--side);
        }

        &::placeholder {
            color: var(--white);
        }
    }

    button {
        width: 100%;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 700;
        color: var(--white);
        background-color: var(--side);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #3ba78d;
        }
    }
}
